{% extends "base.html" %}

{% block title %}Explore{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Explore More</h1>
        <p class="lead">Discover new and exciting features of our Flask application.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="https://via.placeholder.com/300" class="img-fluid" alt="Placeholder Image 1">
            <h3>Feature A</h3>
            <p>Learn more about Feature A and how it can benefit you.</p>
        </div>
        <div class="col-md-4">
            <img src="https://via.placeholder.com/300" class="img-fluid" alt="Placeholder Image 2">
            <h3>Feature B</h3>
            <p>Discover the advantages of Feature B and its applications.</p>
        </div>
        <div class="col-md-4">
            <img src="https://via.placeholder.com/300" class="img-fluid" alt="Placeholder Image 3">
            <h3>Feature C</h3>
            <p>Explore Feature C and how it integrates with our system.</p>
        </div>
    </div>
</div>
{% endblock %}
