{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to FlaskApp</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="https://via.placeholder.com/300" class="img-fluid" alt="Placeholder Image 1">
            <h3>Feature 1</h3>
            <p>Some quick example text to build on the feature and make up the bulk of the content.</p>
        </div>
        <div class="col-md-4">
            <img src="https://via.placeholder.com/300" class="img-fluid" alt="Placeholder Image 2">
            <h3>Feature 2</h3>
            <p>Some quick example text to build on the feature and make up the bulk of the content.</p>
        </div>
        <div class="col-md-4">
            <img src="https://via.placeholder.com/300" class="img-fluid" alt="Placeholder Image 3">
            <h3>Feature 3</h3>
            <p>Some quick example text to build on the feature and make up the bulk of the content.</p>
        </div>
    </div>
</div>
{% endblock %}
